@forward 'uswds-core' with (
	$theme-image-path: '@bryanpizzillo/ncids-with-uswds-patch-sync/img',
	$theme-font-path: '@bryanpizzillo/ncids-with-uswds-patch-sync/fonts',
	$theme-show-notifications: false,
	$theme-show-compile-warnings: false,
);
@forward 'uswds-global';

@forward 'usa-skipnav';
@forward 'usa-banner';
@forward 'nci-header';
@forward 'usa-breadcrumb';
@forward 'usa-prose';
@forward 'usa-process-list';

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);
